<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesideraTumblr.ParameterSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesideraTumblr.ParameterSettings>
            <setting name="EMail" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CacheFolderPath" serializeAs="String">
                <value />
            </setting>
        </DesideraTumblr.ParameterSettings>
    </userSettings>
</configuration>